body {
    background-color: black;
}

#pageContent {
    width: 100px;
    height: 100px;
    background-color: white;
}

#menuContent {
    width: 100px;
    height: 100px;
    background-color: rebeccapurple;
}